*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: wheat;
}
nav{
    display: flexbox;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(7, 104, 75);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav h1{
    flex: 1;
    margin-left: 50px;
color: brown;
}
  nav ul{
list-style: none;
  }  
  nav ul li{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
      justify-content: space-between;
  }
  nav ul li  a{
    justify-content: space-around;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
  }
  .active{
    color:rgb(255, 0, 0);
  }
section{
    display: flex;
    background: url(./images/banana.jpg);
    width: 100%;
    height: fit-content;
    align-items: center;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-around;
}
section h1{
    color: teal;
    font-size: 40px;
    font-weight: bold;
}
.main h1{
align-items: center;
color: green;
}